html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, ul, ol, li, dd, dt, dl, table {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.2em;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #ccc;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #5E5E5E;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #ccc;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #5E5E5E;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #ccc;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #ccc;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #5E5E5E;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #ccc;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.exp-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#debug {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: black;
    color: white;
    width: 350px;
    max-height: 350px;
    overflow-y: scroll;
    z-index: 999;
}

#exp {
    position: relative;
    width: 200px;
    height: 100px;
    overflow: hidden;
    /* border: 1px solid #000; */
}

#exp .exp-container {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: none;
}

#exp .exp-item {
    margin: 0;
    padding: 0;
    position: absolute;
    word-wrap: break-word;
    overflow: hidden;
}

#exp .circle {
    border-radius: 50%;
}

#exp .instr {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    /*color: #FFFFFF; 白色*/
	color: #000000; /*黑色*/
}

#exp .stumili {
    padding: 10px;
    font-size: 21px;
    text-align: center;
}

#exp .survey-sub {
    padding: 10px;
    font-size: 24px;
    /*color: #FFFFFF; 白色*/
	color: #000000; /*黑色*/
}

#exp .survey-opt {
    padding: 10px;
    font-size: 20px;
    /*color: #FFFFFF; 白色*/
	color: #000000; /*黑色*/
}

#exp .face {
    width: 100px;
    height: 125px;
    object-fit: none;
    object-position: 0 0;
}

#exp .face0 {
    object-position: 0 0;
}

#exp .face1 {
    object-position: 0 -125px;
}

#exp .face2 {
    object-position: 0 -250px;
}

#exp .face3 {
    object-position: 0 -375px;
}

#exp .face4 {
    object-position: 0 -500px;
}

#exp .face5 {
    object-position: 0 -625px;
}

#exp .face6 {
    object-position: 0 -750px;
}

#exp .face7 {
    object-position: 0 -875px;
}

#exp .face8 {
    object-position: 0 -1000px;
}

#exp .face9 {
    object-position: 0 -1125px;
}

#exp .face10 {
    object-position: 0 -1250px;
}

#exp .face11 {
    object-position: 0 -1375px;
}

#exp .face12 {
    object-position: 0 -1500px;
}

#exp .face13 {
    object-position: 0 -1625px;
}

#exp .face14 {
    object-position: 0 -1750px;
}

#exp .face15 {
    object-position: 0 -1875px;
}

#exp .pointer{
    cursor: pointer;
}

.hidden {
    display: none;
}

.center-box {
    text-align: center;
}

.flex-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}